* {
    box-sizing:border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
   }
   

  body{
    /* background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #fcfc5ea4); */
    background: linear-gradient(to  right,#9becc4e3  ,#116e68f1 ); 

  } 


   /* HEADER*/
   .navbar-top {
       display: flex;
       align-items: center;
       justify-content: flex-end;
       /* background-color:#D0455F; */
       /* background-color:#d14c4c; */
       background-color: #4f72a7;
       
   }
   
   .navbar-top-item {
       padding: 12px 14px;
       width: 100px;
       text-align: center;
       color: rgb(248, 241, 241);
       font-weight: bold;
       text-shadow: #474141;
       text-decoration:none;
       font-weight:500;
   } 
   
   .navbar-top-item:hover {
        background-color: #c3d7f5ef;
        color: rgb(42, 59, 90); 
    } 
   
   /* #navbar-logo-box {
     background: linear-gradient(to bottom, #B30828 0%, #B30828 50%, white 50%, white 100%);
   } */
   
   #navbar-logo-img{
     display: block;
     margin:auto;
     padding: 10px 10px;
     width:40%;
     max-width: 400px;
   }
   
   #poke-banner{
       width: 100%;
   }
   

   

   /* FILTERS SECTION */
   .filters-container {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       padding: 6px;
       margin:10px auto;
       justify-content: space-between;
       max-width: 1200px;
       
   }
   
   .filter-individual-container {
       padding: 5px ;
       
   }
   
   #filter-by-name-number {
     width:100%;
   }
   
   #filter-by-type {
    width:30%;
   }
   
   #filter-order-by{
    width:30%;
   }
   
   #sort-by{
    width:30%;
   }

   .button,
   #refresh{
       width:100%;
       height:45px;
       text-align: center;
       border-radius: 15px;
       background-color: #577bb3c7;
       color: rgb(238, 241, 245); 
       cursor: pointer;
       
    }
    
    .button:hover,
    #refresh:hover {
        background-color: #c3d7f5ef;
        color: rgb(42, 59, 90); 
        
    } 


   .filter-item {
       background: #f3f8fa;
       padding: 10px 2px;
       border-radius: 15px; 
       border-style: 2px solid ;
       border-color:rgba(0,0,0,0.6);
       width:100%;
       font-size:14px;
       text-align:center;
   }
   
   
   .filter-item:focus{
       outline: none; 
   }
   
   .filter-item:focus::placeholder{
       visibility: hidden;
   }


  /* CONTAINER SECTION */

.pokemones-quantity{
 font-size:20px;
 text-align: center;
}
#quantity{
 color: rgba(211, 74, 25, 0.871);
 font-size:100 px;
 font-weight: 900;
 justify-content: center;
  
}

#container-card{/**contenedor de card*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    padding: 1em 1em;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.pokemon-group{
    box-shadow: 0 0 9px 0 #afcdeb;
    background-color: #e8f8fa;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    max-width:300px;
    min-width: 270px;
    cursor: pointer;
}

.pokemon-group:hover{ 
    box-shadow: 0 0 9px 0 #7194b6;
    background-color: #bee4e9d3;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    max-width:300px;
    min-width: 270px;
    cursor: pointer;
    transform: scale(1.090);
}

.poke-name {
    text-transform: capitalize;
    font-size: 1.85em;
    font-weight:900;
    text-align: center;
    color:rgba(79, 186, 195, 0.829);
    /* color:rgba(180, 102, 87, 0.829); */
    margin: 0.5em;
}
.poke-num{
    text-transform: capitalize;
    font-size: 1.2em;
    text-align: center;
    background-color:  #97b5d1;
    border-radius: 0.4em;
    color: white;
    margin: 0.5em  ;
    max-width:80px
    

}
.poke-img{
    height: 140px;
    text-align: center;
}

#poke-container-img{
    height: 350px;
}

.poke-type{
    height:1px;
    justify-content:space-evenly;
    width: 0.1em;
    background-color:rgb(81, 186, 200);
}

.container-info {
    font-size: 14px;
    /* padding-left: 1em; */
    height: 90px;
    text-align: center;

}
.poke-info {
    font-size: 1.2em;
    text-align: center;
}

#poke-type-icon-container {
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    width:90%;
    text-align: center;
    
    
}

#poke-type-icon-box {
    width: 35px;
    display:flex;
     
    
   
}

#poke-type-icon {
    width: 95%;margin:2.5px;
    /* */
    
}

.message-error{
    color: rgba(211, 74, 25, 0.871);
    font-size:200 px;
    font-weight: 900;
    text-align: center;
    
}

/* Estilos del Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(8, 8, 8, 0.575); /* Black w/ opacity */
   
  }

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 60px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    

  }


  .threeD-IMG{
      width: 22%;
  }
  .comun-modal contenido{
      display:flex;
      flex-wrap: wrap;
      height:10px
  }



  .icon-type{
    width: 40px;
    height: 40px;
    margin: 3px;
  }
  /* .comun-modal contenido{
 
  } */

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }





/* estilos del footer */

footer{
    background-color: #4f72a7;
    color: rgb(233, 232, 232);
    font-family: 'Lato', sans-serif;
    /* margin: 1em auto; */
    display: grid;
    grid-template-columns: 40% 35% 25% ;
    
}
footer .team{
    padding: 0.5em 1.5em;
}
.team{
    border-left: solid 1px #908f8f;
    border-right: solid 1px #908f8f;
    display: flex;
    justify-content:space-evenly;
    justify-items: center;
}
.team img{
    width: 2em;
    height: 2em;
}
.team p{
    margin: 0.5em;
    text-align: center;
}
.team div{
    display: flex;
    justify-content:space-evenly;
    justify-items: center;
}


/* Media queries */

@media screen and (max-width:600px) {
    #navbar-logo-img {
    width:70%;
    }
    }
  
  @media screen and (max-width:480px) {
   .navbar-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color:#4f72a7;
      color: white;
  }
  
  .filters-container {
      margin:0 auto;
      padding:0 5px;
      }
  
   .navbar-top-item {
      padding: 6px 7px;
      width: 100px;
      text-align: center;
      color: rgb(252, 252, 252);
      text-decoration:none;
      font-weight:500;
      font-size: 4vw;
    }
   #navbar-logo-img {
    width:70%;
    }
  
   .filter-item {
      padding: 6px 2px;
      width:100%;  /* ocupa el 100% de su contenedor padre */
      font-size: 3.7vw;
      text-align:center;
     }
  
    #filter-by-type {
    width:48%;
    }
  
    #filter-order-by{
    width:48%;
    }
  
    }



    .modal-flex1{
       
        display:flex;
        width: 10px;
        height:100%;
        margin: auto;
    } 