* {
    box-sizing:border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
   }
   

   /* HEADER*/


   .navbar-top {
       display: flex;
       align-items: center;
       justify-content: flex-end;
       /* background-color:#D0455F; */
       /* background-color:#d14c4c; */
       /* background-color: #4f72a7; */
       background-color:#0404359d ;
   }
   
   .navbar-top-item {
       padding: 12px 14px;
       width: 100px;
       text-align: center;
       color: rgb(248, 241, 241);
       font-weight: bold;
       text-shadow: #474141;
       text-decoration:none;
       font-weight:500;
   } 
   
   .navbar-top-item:hover {
        background-color: #c3d7f5ef;
        color: rgb(42, 59, 90); 
    } 
   
   /* #navbar-logo-box {
     background: linear-gradient(to bottom, #B30828 0%, #B30828 50%, white 50%, white 100%);
     https://67.media.tumblr.com/96c4e4162db0685227660e9e2ea2fe99/tumblr_o6w3jf0LEL1uuj1vto8_r1_1280.png
   } */
   
   #navbar{
       text-align: center;
       background: url(https://artfiles.alphacoders.com/134/thumb-1920-134556.jpg);
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-position: bottom;
       height: 450px;
       width:100%;
       background-size: cover;
   }

   #navbar-logo-img{
     display: block;
     margin:auto;
     /* margin-top: 50px; */
     padding: 10px 10px;
     width:40%;
     max-width: 400px;
     
   }
   

   #navbar-banner-img{
    
    margin:auto;
    padding: 10px 10px;
   
   }
   #poke-banner{
       width: 100%;
    
   }
   

   

   /* FILTERS SECTION */
   .filters-container {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       padding: 6px;
       margin:50px  auto;
       justify-content: space-between;
       max-width: 800px;
       
   }
   
   .filter-individual-container {
       padding: 5px ;
      
       
   }
   
   #filter-by-name-number {
     width:100%;
   }
   
   #filter-by-type {
    width:30%;
   }
   
   #filter-order-by{
    width:30%;
   }
   
   #sort-by{
    width:30%;
   }

   .button,
   #refresh{
       width:100%;
       height:45px;
       text-align: center;
       border-radius: 13px;
       background: linear-gradient(to  top,#c7faf1fa  ,#bfdbfff1 );
       color: rgb(3, 17, 36); 
       cursor: pointer;
       border:none;
       
    }    
    /*  #577bb3c7 */
    
    .button:hover,
    #refresh:hover {
        background-color: #380f97ef;
        color: rgb(0, 13, 197); 
        
    } 


   .filter-item {
       background: linear-gradient(to  top,#effdfbfa  ,#e4edfaf1 );
       /* background: #f0f7fa; */
       padding: 10px 2px;
       border-radius: 12px; 
       border-style: 2px solid ;
       border:none;
       width:100%;
       font-size:14px;
       text-align:center;
       
   }
   
   
   .filter-item:focus{
       outline: none; 
       border-color:rgba(179, 179, 179, 0.6);
   }
   
   .filter-item:focus::placeholder{
       visibility: hidden;
   }


  /* CONTAINER SECTION */

.pokemones-quantity{
 font-size:20px;
 text-align: center;
}
#quantity{
 color: rgba(62, 185, 185, 0.871);
 font-size: 100 px;
 font-weight: 1000;
 justify-content: center;
  
}

#container-card{/**contenedor de card*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 1em 1em;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}

.pokemon-group{
    box-shadow: 0 0 9px 0 #afcdeb;
    background: linear-gradient(to top,#ffffffff  ,#d4d6d8f1 );
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    max-width:230px;
    min-width: 230px;
    cursor: pointer;
    height:300px;
   
    /* #e8f8fa; */
}

.pokemon-group:hover{ 
    box-shadow: 5px 10px 10px 0 #7194b6;
    /* background-color: #b5e4ebd3; */
    /* font-size: 18px;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    max-width:240px;
    min-width: 230px; */
    cursor: pointer;
    transform: scale(1.080);
    transition: 0.7s;
    
   
}

.poke-name {
    text-transform: capitalize;
    font-size: 1.40em;
    font-weight:600;
    text-align: center;
    color:rgba(37, 160, 172, 0.829);
    /* color:rgba(180, 102, 87, 0.829); */
    margin: 0.5em;
    margin-top: 0.8em;
}
.poke-num{
    text-transform: capitalize;
    font-size: 1em;
    text-align: center;
    background-color:  #97b5d183;
    border-radius: 0.4em;
    color: white;
    margin: auto  ;
    max-width:80px;
    
    

}
.poke-img{
    height: 70px;
    text-align: center;
    
    
}

#poke-container-img{
    height: 300px;
   
   

}

.poke-type{
    height:1px;
    justify-content:space-evenly;
    width: 0.1em;
    background-color:rgb(81, 186, 200);
}

.container-info {
    font-size: 11px;
    /* padding-left: 1em; */
    padding-top: 80px;
    height: 90px;
    text-align: center;
    

}
.poke-info {
    font-size: 1.2em;
    text-align: center;
}

#poke-type-icon-container {
    
    display:flex;
    justify-content:center;
    width:90%;
    text-align: center;
    
    
}

#poke-type-icon-box {
    width: 23px;
    display:flex;  
}

#poke-type-icon {
    width: 100%;
    margin:2px;
}


#poke-type-label-box {
    width: 65px;
    display:flex;
    flex-direction: column;
}

#poke-type-label{
width: 100%;margin:2.5px;
}

.message-error{
    color: rgba(211, 74, 25, 0.871);
    font-size:200 px;
    font-weight: 900;
    text-align: center;
    
}

.bug{background-image: url('background-type-card/bug.png');}
.grass{background-image: url('background-type-card/grass.jpg');}
.dark{background-image: url('background-type-card/dark.png');}
.dragon{background-image: url('background-type-card/dragon.png');}
.electric{background-image: url('background-type-card/electric.png');}
.fairy{background-image: url('background-type-card/fairy.png');}
.fighting{background-image: url('background-type-card/fighting.png');}
.fire{background-image: url('background-type-card/fire.png');}
.flying{background-image: url('background-type-card/flying.png');}
.ghost{background-image: url('background-type-card/ghost.png');}
.grass{background-image: url('background-type-card/grass.png');}
.ground{background-image: url('background-type-card/ground.png');}
.ice{background-image: url('background-type-card/ice.png');}
.normal{background-image: url('background-type-card/normal.png');}
.poison{background-image: url('background-type-card/poison.png');}
.psychic{background-image: url('background-type-card/psychic.png');}
.rock{background-image: url('background-type-card/rock.png');}
.steel{background-image: url('background-type-card/steel.png');}
.water{background-image: url('background-type-card/water.png');}
.comun-card{
    background-size: 100%;
    background: cover;


}




/* Estilos del Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(8, 8, 8, 0.575); /* Black w/ opacity */
   
  }

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 60px;
    border: 1px solid #888;
    width: 50%;
    text-align: center; 
    height:800px;  
    border-radius:15px;

  }

  #modal-img{
    width: 170px;
    text-align: center; 
  }

  .threeD-IMG{
      width: 70%;
  }
  .modal-info-name{
    display:flex;
    flex-direction: column;
    width: 200px;
  }
  .comun-modal contenido{
      display:flex;
      /* flex-direction: row; */
      flex-wrap: wrap;
      width: 400px auto;
     
  }

  .modal-info{
    display:flex;
    flex-direction: row;
    width: 100px;
    
  }


  .icon-type{
    width: 40px;
    height: 40px;
    margin: 3px;
  }


  #modal-characteristics{
  display: flex;
  flex-direction: row;
 
  }

  #modal-resistant-weaknesses{
    display: flex;
    width:500px;
    flex-direction: row;
    justify-content:space-around;

  }


  #modal-flex{
    display: flex;
    justify-content:space-between;
    
  }  
  

  /* .comun-modal contenido{
 
  } */

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


.showChart{
    display: none;
}


/* estilos del footer */

/* footer{
    background-color: #4f72a7;
    color: rgb(233, 232, 232);
    font-family: 'Lato', sans-serif;
    /* margin: 1em auto; 
    display: grid;
    grid-template-columns: 40% 35% 25% ;
    
}
footer .team{
    padding: 0.5em 1.5em;
}
.team{
    border-left: solid 1px #908f8f;
    border-right: solid 1px #908f8f;
    display: flex;
    justify-content:space-evenly;
    justify-items: center;
}
.team img{
    width: 2em;
    height: 2em;
}
.team p{
    margin: 0.5em;
    text-align: center;
}
.team div{
    display: flex;
    justify-content:space-evenly;
    justify-items: center;
} */

/* background-color:#0404359d ;#010114fd */
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #0404359d ;
    height: auto;
    width: 100%;
    margin-top:100px;
    padding-top: 10px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content img {
    height: 70px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 2rem 0;
    
}

.socials li {
    margin: 0 15px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 2.5rem;
    transition: color .3s ease;
    cursor: url('/src/images/dedo.cur'), auto;

}

.socials a:hover i {
    color: rgba(131, 183, 218, 0.897);
    cursor: pointer;
}

.footer-bottom {
    background: rgba(42, 39, 65, 0.541);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 16px;
    word-spacing: 2px;
    
}

.footer-bottom span {
    opacity: .5;
    font-weight: 200;
}
/* Media queries */

@media screen and (max-width:600px) {
    #navbar-logo-img {
    width:30%;
    }
    }
  
@media screen and (max-width:570px) {
    #navbar-banner-img{
        width:70%;
    }}
  @media screen and (max-width:480px) {
   .navbar-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
     
      color: white;
  }
 
  .filters-container {
      margin:0 auto;
      padding:0 5px;
      }
  
   .navbar-top-item {
      padding: 6px 7px;
      width: 100px;
      text-align: center;
      color: rgb(252, 252, 252);
      text-decoration:none;
      font-weight:500;
      font-size: 4vw;
    }
   #navbar-logo-img {
    width:70%;
    }
  
   .filter-item {
      padding: 6px 2px;
      width:100%;  /* ocupa el 100% de su contenedor padre */
      font-size: 3.7vw;
      text-align:center;
     }
  
    #filter-by-type {
    width:48%;
    }
  
    #filter-order-by{
    width:48%;
    }
  
    }



    .modal-flex1{
       
        display:flex;
        width: 10px;
        height:100%;
        margin: auto;
    } 